$orange-color : #F9995D;
$light-black-color :#292E3D;
$navy-blue:#3559C7; 
$navy-blue-dark:#2947A9;
$gray-color : #858EAD;
$dark-black-color :#3D445C;
$light-gray-color:#F6F8F7;
$lighter-gray-color:#525B7A